
/* Battle One 
/* position and specificity 

h2 {
    color: purple; 
}

main h2 {
    color: green; 
}

*/


/* Battle Two */
/*specificity */

main h2 {
    color: green; 
}

h2 {

    color: purple; 
}

*/



/* Battle Three */ 
/* position*/ 

li:nth-of-type(odd) {
color: red; 
}

li:nth-of-type(odd) {
 color: orange; 
}

*/


/* Battle Four */
/* same level of specificity, position */

footer > p {
    border:1px solid blue; 
}

footer p {
    border: 1px solid red; 
}


/* Battle Five */
/* class is more specific */ 

.wrapper {
    background-color: purple; 
}

body div {
    background-color: orange; 
}


/*BONUS ROUND*/ 

#mainHeading {
    border: 1px solid pink; 
}

h2 {
    border: 1px solid orange !important; 
}















